{% extends "./layouts/frontend.html" %}

{% block content %}
  <p>My name: {{ name }}</p>
  <p>The answer: {{ answer() }}</p>

  <p>Items:</p>
  <ul>
    {% for item in items %}
    <li>{{ item }}</li>
    {% endfor %}
  </ul>

  <p>Version number: {{ version_number }}</p>
{% endblock %}
